body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}



.circle-photo {
    width: 165px; /* Increased by 10% from 150px */
    height: 165px; /* Increased by 10% from 150px */
    border-radius: 50%;
    object-fit: cover;
    float: left;
    margin-right: 20px;
}

.horizontal-line {
    border-top: 1px solid grey;
    margin: 20px 0;
}

.blurb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro-text {
    font-size: 12px;
    font-family: 'Georgia', serif; /* More stylish font */
    width: 67%;
    text-align: right;
}