<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">

    <script defer data-domain="ehsanzibaei.com" src="https://plausible.io/js/script.js"></script>


</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <!-- <li><a href="/contact">Contact</a></li> -->
            </ul>
        </nav>
    </header>

    <main class="container">
        {{ content }}
    </main>

    <footer style="text-align: left; margin-top: 2em; font-size: 0.9em;">
        <p>
          &copy; 2025 Ehsan Zibaei —
          <a href="/privacy/">Privacy Policy</a>
          <!-- <a href="/contact/">Contact</a> -->
        </p>
      </footer>
</body>
</html>